<%= form_with model: @recipe, data: { action: "turbo:submit-start->loading#open turbo:submit-end->loading#close turbo:submit-end->modal#close", turbo_frame: "recipe-list" } do |f| %>
  <div class="pt-5 h-full text-left">
    <div>
      <div>
        <label for="name" class="leading-7 text-sm text-gray-600">レシピ名</label>
        <%= f.text_field :name, class: 'w-full bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out' %>
      </div>
    </div>
    <div class="mt-5">
      <div>
        <label for="name" class="leading-7 text-sm text-gray-600">URL</label>
        <%= f.text_field :url, class: 'w-full bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out' %>
      </div>
    </div>
    <div class="mt-5">
      <% folders = current_user.recipe_folders %>
      <div>
        <label for="name" class="leading-7 text-sm text-gray-600">フォルダ</label>
        <%= f.select :recipe_folder_id, folders.pluck(:name, :id), { include_blank: true }, { class: 'w-full bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out' } %>
      </div>
    </div>
    <div class="flex">
      <div class="p-10 w-full">
        <% button_label = @recipe.persisted? ? '更新' : '登録' %>
        <%= f.submit button_label, class: "flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 rounded text-lg" %>
      </div>
      <% if @recipe.persisted? %>
        <div class="p-10 w-full">
          <%= link_to recipe_path(id: @recipe.id), data: { turbo_method: :delete, action: "click->modal#close_with_event", turbo_frame: "recipe-list" } do %>
            <button class="flex mx-auto text-indigo-500 border-1 py-2 px-8 rounded text-lg">削除</button>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
<% end %>
