<%= turbo_frame_tag 'full-modal' do %>
  <header class="border-b border-gray-300 shadow-md">
    <div class="m-auto px-10 h-16 flex items-center justify-between">
      <button data-action="click->modal#close">
        もどる
      </button>
      <div>
        <%= link_to '編集', edit_recipe_path %>
      </div>
    </div>
  </header>
  <main class="container mx-auto max-w-3xl py-10 text-center h-full"> 
    <h1 class="text-3xl flex justify-center">
      <%= @recipe.name %>
      <%= button_to '➕', recipe_links_path(recipe_id: @recipe.id), method: :post, class: 'text-2xl ml-2' %>
    </h1>
    <div class="mt-5 mb-5">
      <%= link_to '元のページを表示', @recipe.url, target: :blank %>
    </div>
    <div class="overflow-auto h-full">
      <% if @recipe.screenshot.present? %>
        <%= image_tag url_for(@recipe.screenshot), class: 'w-full' %>
      <% end %>
    </div>
  </main>
<% end %>