<!DOCTYPE html>
<html>
  <head>
    <title>RecipeClipper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div data-controller="modal loading" >
      <%= render 'shared/header' %>
      <div class="flex container mx-auto max-w-6xl py-10 ">
        <% if user_signed_in? %>
          <aside class="left-pane w-1/6 pl-8">
            <%= render 'shared/side' %>
          </aside>
        <% end %>
        <main class="w-5/6">
          <%= yield %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </main>
      </div>
      <% if user_signed_in? %>
        <%= render 'shared/footer' %>
      <% end %>
      <%= render 'shared/full_modal' %>
      <%= render 'shared/loading'%>
    </div>
  </body>
</html>
